<div class="flex flex-col items-center my-8  w-max-w-8xl">
    <div class="columns-6">
        <div class="flex"></div>
        <h2>
            {{  section.settings.title }}
        </h2>
        <h4>
            {{  section.settings.subheading }}
        </h4>
        <div class="w-5">
        <a href="{{ section.settings.button_link }}" class="btn">
            {{ section.settings.button_text }}
        </a>    
        </div>
    </div>
    <div class=" columns-6"></div>
</div>

{% schema %}
{
    "name": "Home Banner",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "default": "Banner Title",
            "label": "Title"
        },
        {
            "type": "text",
            "id": "subheading",
            "default": "Banner Sub heading",
            "label": "Sub heading"
        },
        {
            "type": "text",
            "id": "button_text",
            "label": "Button Text",
            "default": "Click Here"
        },
        {
            "type": "text",
            "id": "button_link",
            "label": "Button Link",
            "default": "Enter Your link here"
        }
    ],
    "presets": [
        {
            "name": "Home Banner"
        }
    ]
}
{% endschema %}
