<div class="flex flex-col items-center my-8  w-max-w-8xl">
    <div class="columns-6">
        <h2>
            {%  section.settings.title %}
        </h2>
        <h4>
            {%  section.settings.sub_heading %}
        </h4>
    </div>
    <div class=" columns-6"></div>
</div>

{% schema %}
{
    "name": "Home Banner",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "default": "Banner Title",
            "label": "Title"
        },
        {
            "type": "text",
            "id": "subheading",
            "default": "Banner Sub heading",
            "label": "Sub heading"
        },
        {
            "type": "range",
            "id": "number_of_products_to_show",
            "min": 4,
            "max": 12,
            "default": 4,
            "label": "Number of products to show"
        }
    ],
    "presets": [
        {
            "name": "Home Banner"
        }
    ]
}
{% endschema %}
