.max-w-1320{
    max-width: 1320px;
    width: 1320px;
}
.banner-heading-1{
    font-weight: 300;
    font-size: 74px;
    text-align: left;
    line-height: 55px;
    margin-bottom: 1em;
}
.banner-sub-heading{
    font-size: 30px;
    line-height: 55px;
    text-align: left;
    text-transform: capitalize;
    font-weight: 400;
    margin-bottom: 1em;
    max-width: 688px;
}
.img-banner-r{
    max-width: 442px;
    max-height: 562px;
    object-fit: cover;
}